<!DOCTYPE html>
<html lang="es">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protegiendo tu bienestar</title>
    <link id="estilos" rel="stylesheet" href="{% static 'stylep.css' %}">
</head>
<body>
    <h1>Protegiendo tu bienestar: Guía de salud ocupacional para agentes de Call Center</h1>
    
    <img src="{{ MEDIA_URL }}bienestar callcenter.png" alt="Bienestar en el Call Center" width="600">


    <p>Trabajar en un call center puede ser desafiante para la salud si no se toman medidas preventivas. En Call Expert Hub, nos preocupamos por el bienestar de nuestros colaboradores y promovemos prácticas saludables en el entorno laboral.</p>

    <h2>Riesgos laborales en los call centers</h2>
    <ul>
        <li>Fatiga auditiva por uso constante de audífonos.</li>
        <li>Estrés y agotamiento mental debido a la carga laboral.</li>
        <li>Problemas posturales por largas horas frente al ordenador.</li>
        <li>Problemas en la voz debido al uso prolongado.</li>
    </ul>

    <h2>Estrategias de protección y bienestar</h2>
    <ul>
        <li>Uso de auriculares ergonómicos y pausas auditivas.</li>
        <li>Técnicas de manejo del estrés y mindfulness.</li>
        <li>Ejercicios de estiramiento y corrección postural.</li>
        <li>Hidratarse frecuentemente y cuidar la voz con ejercicios vocales.</li>
    </ul>

    <h2>Conclusión</h2>
    <p>Cuidar tu salud en el trabajo no solo mejora tu desempeño, sino que también contribuye a una mejor calidad de vida.</p>
</body>
</html>
